<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div>
        <h3>Login</h3>
        <label for="username">E-mail</label>
        <input type="text" id="username">

        <label for="password">Password</label>
        <input type="text" id="password">

        <button type="button" id="loginButton">Send</button>
    </div>

    <div>
        <h4>Register</h4>
        <button type="button" onclick="location.href='http://localhost:8080/register'">Register</button>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>